<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> - Chinpokomon</title>

    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <nav>
        <ul>
            <li class="leftNav"><p>Logo</p></li>
            <li class="middleNav"><h1><a href="/">Chinpokomon</a></h1></li>
            <% if (locals.loggedIn === false) { %>
                <li class="rightNav"><a href="/sign-in">Logg inn</a></li>
            <% } else if (locals.loggedIn === true) { %>
                <li class="rightNav"><a href="/logout">Logg ut</a></li>
                <li class="rightNav">Chinpokomon - <a href="/home"><%= locals.username %></a></li>
            <% } %>
        </ul>
    </nav><br><br><br>