<%- include('partials/header') %>

    <!-- css -->
    <link rel="stylesheet" href="/css/chinpokomon.css">

    <div class="main">
        <div class="chinpokomonDisplay chinpokomonGrid"></div>
    </div>

    <!-- scripts -->
    <script src="/js/getChinpokomon.js"></script>
    <script src="/js/landingpage.js"></script>

<%- include('partials/footer') %>