<%- include('partials/header') %>

    <!-- css -->
    <link rel="stylesheet" href="/css/login.css">

    <div class="main">
        <form class="loginForm">
            <h2>Fyll inn email og passord for å logge inn</h2>
            <label for="email">Email:</label>
            <input type="text" name="email" id="email"><br>

            <label for="password">Passord:</label>
            <input type="password" name="password" id="password"><br><br>

            <button type="submit">Logg inn</button><br><br>

            <p class="statusText hidden"></p>
            <a href="/create">Har du ikke en bruker? Lag en her.</a>
        </form>
    </div>

    <!-- script -->
    <script src="/js/user-login.js"></script>

<%- include('partials/footer') %>