<%- include('partials/header') %>

    <!-- css -->
    <link rel="stylesheet" href="/css/chinpokomon.css">

    <div class="main">
        <div class="chinpokomonDisplay chinpokomonGrid">
            <h2>Chinpokos by <%= title %></h2>
        </div>
    </div>

    <!-- script -->
    <script src="/js/getChinpokomon.js" defer></script>
    <script src="/js/userPage.js" defer></script>

<%- include('partials/footer') %>