<%- include('partials/header') %>

    <!-- css -->
    <link rel="stylesheet" href="/css/chinpokomon.css">

    <div class="main">
        <h2>Chinpokos by <%= username %></h2>

        <div class="chinpokomonGrid"></div>
    </div>

    <!-- script -->
    <script src="/js/userPage.js"></script>

<%- include('partials/footer') %>