<%- include('partials/header') %>

    <div class="main">
        <p>brukerside</p>

        <div class="chinpokomons"></div>
    </div>

    <!-- script -->
    <script src="/js/userPage.js"></script>

<%- include('partials/footer') %>