<%- include('partials/header') %>

    <!-- css -->
    <link rel="stylesheet" href="/css/userHome.css">

    <div class="main">
        <h2>Brukerside - <%= username %></h2>

        <form class="createChinpokomon">
            <label for="name">Navn:</label>
            <input type="text" name="name" id="name">
            
            <label for="image">Bilde:</label>
            <div name="image" id="image"></div>

            <label for="ability1">Evne 1:</label>
            <input type="text" name="ability1" id="ability1">

            <label for="ability2">Evne 2:</label>
            <input type="text" name="ability2" id="ability2">

            <label for="ability3">Evne 3:</label>
            <input type="text" name="ability3" id="ability3">

            <button type="submit">Opprett Chinpokomon</button>
        </form>
    </div>

    <!-- scripts -->
    <script src="/js/userHome.js" defer></script>

<%- include('partials/footer') %>