<%- include('partials/header') %>

    <!-- css -->
    <link rel="stylesheet" href="/css/statusCodes.css">
    <link rel="stylesheet" href="/css/chinpokomon.css">

    <div class="main">
        <h2>Brukerside - <%= username %></h2>

        <div class="chinpokomonGrid">

            <form class="createGrid">
            <div class="chinpokomonCard">
                <div class="nameGrid"><input id="name" type="text"></div>
                <div class="imgGrid drop"><div id="image"><p class="hideMe">Drag and drop your image here!</p></div></div>
                <div class="abilityGrid">
                    <h2>Egenskaper:</h2>
                    <ul class="abilityInputs">
                        <li><p>1 - </p><input id="ability1" type="text"></li>
                        <li><p>2 - </p><input id="ability2" type="text"></li>
                        <li><p>3 - </p><input id="ability3" type="text"></li>
                        <p class="hidden feedback">test</p>
                        <button type="submit" id="submitChinpokomon">Submit new Chinpokomon</button>
                    </ul>
                </div>     
            </div>
            </form>
        
        </div>

        <div class="chinpokomonDisplay chinpokomonGrid"></div>

    </div>

    <!-- scripts -->
    <script src="/js/getChinpokomon.js" defer></script>
    <script src="/js/userHome.js" defer></script>

<%- include('partials/footer') %>